{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>{{object.name}}</h3>
    <p>{{object.description}}</p>
    {% if object.request.status == "P" %}
        <p>Pending</p>
        <form action="{% url 'protocol:approve' object.id %}" method="post" >
            {% csrf_token %}
            <button type="submit" class="btn btn-success" style="display:inline-block";>Approve</button>
        </form>

        <form action="{% url 'protocol:reject' object.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" >Reject</button>
        </form>

    {% endif %}
    {% if object.request.status == "A" %}
        <p style="color: green">Approved</p>
    {%endif%}


    

{% if messages %}
    <ul class="messages" style="color:green;">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} > {{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}



{% endblock %}